pkgbase = mingw-w64-geany
	pkgdesc = Fast and lightweight IDE (mingw-w64)
	pkgver = 1.37.1
	pkgrel = 1
	url = https://www.geany.org/
	arch = any
	license = GPL
	makedepends = python-lxml
	makedepends = setconf
	makedepends = intltool
	makedepends = python
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-configure
	depends = mingw-w64-crt
	depends = mingw-w64-gtk3
	optdepends = mingw-w64-python
	options = !buildflags
	options = staticlibs
	options = !strip
	options = !emptydirs
	source = geany-1.37.1.tar.gz::https://github.com/geany/geany/archive/1.37.1.tar.gz
	sha256sums = 17aee626c29f30ecfae034924e32a6c7f09cc651d3f80ccf7cd225ee0090a2ad

pkgname = mingw-w64-geany
